
  <div class="container">
  <div class="row">
    <h2 style="text-align: left;"> Profile Page </h2>
    <p>Email : <%= @user.email %> 
 <form accept-charset="UTF-8" method='post' action='/user/follow'>
      <input type="hidden" name="follow_to" value="<%= @user.id %> ">
      <%if @is_following%> 
        <input type="hidden" name="status" value="unfollow">
        <input type="submit" name='save' value='Unfollow'>
      <%else%>
        <input type="hidden" name="status" value="follow">
        <input type="submit" name='save' value='Follow'>
      <%end%>
</form></p>
<div class="row">
  <div class="col-sm-4">
    <h2> Tweets : </h2>
     <% @tweet.each do |tweet| %>
     <h3><%= tweet.message %></h3>
      <p> by <%= tweet.email %> at <%= tweet.created_at %> <%= link_to "Profile", user_path(tweet.user_id) %></p>
    <% end %>
    </div>
    <div class="col-sm-4">
    <h2> Followers : </h2>
     <% @followers.each do |follower| %>
      <p> by <%= follower.email %> <%= link_to "Profile", user_path(follower.id) %></p>
    <% end %>
    </div>
    <div class="col-sm-4">
    <h2> Following : </h2>
     <% @following.each do |follower| %>
      <p> by <%= follower.email %> <%= link_to "Profile", user_path(follower.id) %></p>
    <% end %>
    </div>
</div>
</div>
</div>